<div class="row" style="margin-top: 20px;">
    <div role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#signin" aria-controls="signin" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;&nbsp;sign in</a></li>
            <li role="presentation"><a href="#register" aria-controls="register" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>&nbsp;&nbsp;register</a></li>
        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="signin">
                <div class="col-md-6 tabcontent">
                    <form action="#" method="post" id="loginform">
                        <div class="form-group">
                            <label for="username">e-mail:</label>
                            <input type="text" class="form-control" name="username" id="username" placeholder="enter e-mail" />
                        </div>
                        <div class="form-group">
                            <label for="password">password</label>
                            <input type="password" class="form-control" name="password" id="password" placeholder="enter password" />
                        </div>
                        <input type="hidden" name="grant_type" value="password" />
                        <button class="btn btn-success" onclick="signIn();" title="sign in" type="button" id="signinbutton">sign in</button>
                    </form>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="register">
                <div class="col-md-6 tabcontent">
                    <form action="#" method="post" id="registerform">
                        <div class="form-group">
                            <label for="Authorization">authorization code:</label>&nbsp;<span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="provided by the owner of this site"></span>
                            <input type="password" name="Authorization" id="Authorization" placeholder="enter authorization code" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="RegisterEmail">e-mail:</label>
                            <input type="text" name="Email" id="RegisterEmail" class="form-control" placeholder="enter e-mail" />
                        </div>
                        <div class="form-group">
                            <label for="RegisterPassword">password:</label>
                            <input type="password" name="Password" id="RegisterPassword" class="form-control" placeholder="enter password" />
                        </div>
                        <div class="form-group">
                            <label for="ConfirmPassword">confirm password:</label>
                            <input type="password" name="ConfirmPassword" id="ConfirmPassword" class="form-control" placeholder="re-enter password" />
                        </div>
                        <div class="form-group">
                            <label for="TimeZone">time zone:</label>
                            <select name="TimeZone" id="TimeZone" class="form-control">
                                @foreach (TimeZoneInfo timezone in TimeZoneInfo.GetSystemTimeZones().OrderBy(p => p.BaseUtcOffset))
                                {
                                    <option value="@timezone.Id" @(timezone.Id == "UTC" ? "selected=\"selected\"" : "")>@timezone.DisplayName</option>
                                }
                            </select>
                        </div>

                        <button class="btn btn-primary" onclick="register();" title="register" type="button">register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/signin")

    <script type="text/javascript">
        initializeDefinitions("@Url.Content("~")");
        initializeControls();
    </script>
}
