<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="navbar navbar-default" style="margin-bottom: 0;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("tracktor", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    @if (ViewBag.User != null)
                    {
                        <li><a href="#">@ViewBag.User</a></li>
                        <li><a href="#" onclick="signOut();"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="navbar-fixed-bottom" style="margin-left: 15px;">
            <p>&copy; @DateTime.Now.Year - <a href="https://github.com/rohatsu/tracktor">tracktor</a></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/base")
    @RenderSection("scripts", required: false)
</body>
</html>
