<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/content/css")
</head>
<body>
    <div class="navbar navbar-default" style="margin-bottom: 0;">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("tracktor", "index", "home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @if (ViewBag.User != null)
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">@ViewBag.User</a></li>
                        <li><a href="#" onclick="signOut();"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></a></li>
                    </ul>
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <footer class="navbar-fixed-bottom" style="margin-left: 15px;">
            <p>&copy; @DateTime.Now.Year - <a href="https://github.com/rohatsu/tracktor">tracktor</a> by <a href="https://www.rohatsu.com">rohatsu software studios</a></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/base")
    @RenderSection("scripts", required: false)
</body>
</html>
